
.classmt{
    box-shadow:5px;
    padding: 2px;
    border-radius: 4px;
    
    
}
.classmt:hover{
    
    padding: 0px;
    box-shadow: 0 0 5px #674db0;
    cursor:pointer;
    
    
}
::marker{
    color: white;
}








    
    
    


    
    

    







