@import "./icons.scss";

// Light Theme
@import "./bootstrap.scss";
@import "./app.scss";

// RTL
// @import "custom/rtl/general-rtl";
// @import "custom/rtl/bootstrap-rtl";
// @import "custom/rtl/spacing-rtl";
// @import "custom/rtl/float-rtl";
// @import "custom/rtl/text-rtl";
// @import "custom/rtl/structure-rtl";
// @import "custom/rtl/plugins-rtl";
// @import "custom/rtl/components-rtl";
// @import "custom/rtl/pages-rtl";

/* close button **/
.close {
  background: transparent;
  border: 0;
  font-size: 10px;
  padding: 1.35rem 1.25rem;
  background: transparent escape-svg($btn-close-bg) center / $btn-close-width auto no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  width: 1em;
  height: 1em;
  z-index: 2;

  span {
    display: none;
  }
}

/* drawer */
.react-drawer-drawer {
  z-index: 9999;
  background: #fff;
}

.drawer-main-menu {
  padding-top: 8px;
  padding-bottom: 8px;
}

.drawer-menu a i {
  min-width: 2rem;
  display: inline-block;
  min-width: 1.75rem;
  padding-bottom: 0.125em;
  font-size: 1.25rem;
  line-height: 1.40625rem;
  vertical-align: middle;
  color: #7f8387;
  transition: all 0.4s;
}

.drawer-menu a {
  display: block;
  padding: 0.625rem 1.5rem;
  color: #545a6d;
  position: relative;
  font-size: 13px;
  transition: all 0.4s;
}

.drawer-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
}

.ReactModal__Overlay {
  z-index: 5000 !important;
}

.rangeslider__handle:focus {
  outline: none;
}

// React Table next css
.react-bootstrap-table-page-btns-ul {
  float: right !important;
}

// .search-label {
//   float: right;
// }
.react-drawer-overlay {
  z-index: 9999;
}

/* rating**/
.rating-container {
  background-color: transparent !important;
}

/* form editor **/
.rdw-editor-main {
  border: 1px solid $gray-300;
  height: 239px;
  padding-left: 15px;
}

.dz-message {
  text-align: center;
  padding: 30px;
}

.search-box .search-icon-search {
  font-size: 16px !important;
  position: absolute !important;
  left: 13px !important;
  top: 0 !important;
  line-height: 38px !important;
}

//Two verification Page
.verification {
  input {
    &:focus {
      border: none;
      outline: none !important;
    }
  }
}

@media (max-width: 768px) {
  .verification {
    input {
      width: 30px !important;
    }
  }
}

@media (max-width: 320px) {
  .verification {
    input {
      width: 30px !important;
      height: 30px !important;
      font-size: 15px !important;
    }
  }
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: #5156be !important;
}

.preview-thumbsnav {
  display: flex !important;
  list-style-type: none;
}

.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-months .flatpickr-month,
.flatpickr-weekdays,
span.flatpickr-weekday {
  background: #5156be;
}

.flatpickr-calendar.arrowBottom:after {
  border-top-color: #5156be;
}

.flatpickr-calendar.arrowTop:after {
  border-bottom-color: #5156be;
}

input:hover {
  outline: none !important;
  border-color: #ce7171;
  box-shadow: 0 0 10px #8a71ce;
}

textarea:focus {
  outline: none !important;
  border-color: #ce7171;
  box-shadow: 0 0 10px #ce7176;
}


::-webkit-input-placeholder {
  text-align: left;
}

:-moz-placeholder {
  text-align: center;
}

.user-select {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.blur1 {
  background-size: cover;
  backdrop-filter: blur(8px);
}

.blur2 {
  background-size: cover;
  backdrop-filter: blur(2px);
}



.transparent1 {
  background-color: rgba(92, 91, 91, 0.3);
}

.alertbody {
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  z-index: 99999 !important;
  background-size: cover;
  backdrop-filter: blur(8px);
  box-shadow: 5px 5px 5px #adb5bd !important
}

.c_disableBtn {
  opacity: 0.2;
  // visibility: hidden;
  cursor: not-allowed !important;
}

.c_btn-primary {

  &:hover {
    background-color: $primary;
    /* Darker shade of primary color on hover */
    color: #ffffff;
    /* Button text color remains white on hover */
    border-color: $primary;
    /* Darker shade of primary color for border on hover */
  }

  /* Style for disabled button */
  &:disabled {
    background-color: rgba(107, 111, 200);
    /* Gray background for disabled state */
    color: #ffffff;
    /* Button text color remains white when disabled */
    border-color: rgba(107, 111, 200);
    /* Border color for disabled state */
    cursor: not-allowed;
    /* Show "not-allowed" cursor for disabled state */
  }
}


//bostrap class

.pr-1 {
  padding-right: 10px;
}

.pr-2 {
  padding-right: 15px;
}

.pr-3 {
  padding-right: 20px;
}

.pr-4 {
  padding-right: 25px;
}

.pl-1 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 15px;
}

.pl-3 {
  padding-left: 20px;
}

.pl-4 {
  padding-left: 25px;
}

.theme-font {
  font-Family: IBM Plex Sans, sans-serif;
  // font-size: 0.875rem;
  // font-weight: 400;
  // line-height: 1.5;
  color: #495057;
}

.right-aligned-placeholder::placeholder {
  text-align: right;
}

.right-aligned-placeholder {
  text-align: right;
}


// Define a placeholder for common styles
%common-list-label {
  font-size: 12px;
  padding: 2px 10px 2px 10px;
  border-radius: 8px;
  font-weight: bold;

}

$opacity: 0.16;


$c_red: RED;

.green_label {
  @extend %common-list-label;
  background-color: rgba($green, $opacity); // Use a different main color
  color: $green;
}

.yellow_label {
  @extend %common-list-label;
  background-color: rgba($yellow, $opacity); // Use your main color
  color: $yellow;
}

.purple_label {
  @extend %common-list-label;
  background-color: rgba($purple, 0.09);
  color: $purple;
}

.indigo_label {
  @extend %common-list-label;
  background-color: rgba($indigo, 0.09);
  color: $indigo;
}

.blue_lable {
  @extend %common-list-label;
  background-color: rgba($cyan, $opacity);
  color: $cyan;
}

.red_label {
  @extend %common-list-label;
  background-color: rgba($c_red, $opacity);
  color: $c_red;
}


.close-white {
  background: transparent;
  border: 0;
  font-size: 10px;
  padding: 1.35rem 1.25rem;
  background: transparent url('data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 16 16\' fill=\'%23ffffff\'%3e%3cpath d=\'M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z\'/%3e%3c/svg%3e') center/1em auto no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.7;
  width: 1em;
  height: 1em;
  z-index: 2;
  transition: all 0.3s ease; // Add transition for smooth hover effect
}

.close-white:hover {
  transform: scale(1.1); // Increase size on hover
  font-weight: bold; // Make font bold on hover
  opacity: 1;

}