.order-discount-row {
    position: relative;
    table-layout: fixed;
    min-width: 100px;
    position: relative;

    .parent {
        display: flex;
        min-width: 100px;
    }

    .child {
        flex-grow: 0;
        flex-shrink: 0;
    }

    .child:first-child {
        flex-basis: 30%;
    }

    .child:last-child {
        flex-basis: 70%;
    }

    .bottom-div {
        samp {
            padding-top: 6px;
            padding-left: 4px;
            font-size: 130%;
        }

        span {
            flex-grow: 3;
            padding-top: 6px;
            margin-left: 8px;
            flex-basis: 50px
        }
    }

}

  
  