.item-Sale-card_1 {
  background-color: rgb(214, 214, 214) !important;
  border-radius: 5px;
}

.item-Sale-card_2 {
  background-color: rgb(225, 225, 225) !important;
  border-radius: 5px;
}

.item-Sale-card_3 {
  background-color: rgb(234, 233, 233) !important;
  border-radius: 5px;
}

.item-Sale-card_4 {
  background-color: rgb(240, 240, 240) !important;
  border-radius: 5px;
}

.custom-to-date-col {
  width: 30%; /* Adjust the width as needed */
}