.item-Sale-card_1 {
    // rgb(225 225 237)
    // background-color:rgb(237, 237, 242) !important ;
    background-color: rgb(214, 214, 214) !important;
    border-radius: 5px;
  }

  .item-Sale-card_2 {
    // rgb(225 225 237)
    // background-color:rgb(237, 237, 242) !important ;
    background-color: rgb(225, 225, 225) !important;
    border-radius: 5px;
  }

  .item-Sale-card_3 {
    // rgb(225 225 237)
    // background-color:rgb(237, 237, 242) !important ;
    background-color: rgb(234, 233, 233) !important;
    border-radius: 5px;
  }

  .item-Sale-card_4 {
    // rgb(225 225 237)
    // background-color:rgb(237, 237, 242) !important ;
    background-color: rgb(240, 240, 240) !important;
    border-radius: 5px;
  }