
.classmt{
    box-shadow:5px;
    padding: 2px;
    border-radius: 4px;
    padding: 1px;
}
.classmt:hover{
    cursor:pointer;
}
::marker{
    color: white;
}

#span:hover{
    box-shadow: 0 0 5px #674db0;
}


#price-drop {
    // width: 5.5cm;
    border: 15px;
    padding: 50px;
    margin: 12px;
    background-color: white;
    min-width: auto;
    // height: 9cm;
    min-height: auto;
    margin-left: 0cm;
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 80%);
    // overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
    position: absolute;
    z-index: 1;
    padding-top: 0;
  
    display: none;
  
  
  }
  
  #Input:hover+.color {
    display: block;
  }





    
    
    


    
    

    







