
.head{
  border-radius: 5px;
  margin-left:-25px !important;
  margin-right: -25px !important;
}
.headbody{
margin-left:-25px !important;
margin-right: -25px !important;
border-radius: 5px;
margin-bottom: -14px !important;

}
.custom_scroll_div{ 
  margin-bottom: -9%;
    overflow-x: scroll;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin; }

.pagescroll{
    overflow-x: hidden !important ;
}    
    



