
.header-class{
    background-color: #e01d1d;
}

.header-class.th,
td {
    /* cell */
    padding: 0.75rem;
    font-size: 0.9375rem;
}

.header-class.th {
    /* header cell */
    font-weight: 700;
    text-align: left;
    color: #0f18a1;
    border-bottom: 2px solid #EB9486;

    position: sticky;
    top: 0;
    background-color: #F9F8F8;
}

td {
    /* body cell */
    color: #7E7F9A;
}

/* demo stuff */
body {
    padding: 6rem 2rem;
    background-color: #F9F8F8;
}