#color{
    width: 5.5cm;
    border: 15px ;
    padding: 50px;
    margin: 12px;
    background-color:white; 
    min-width: auto; 
    // height: 9cm;
    min-height: auto;
    margin-left: 0cm;
    border-radius: 4px;
    border: 1px solid black;
    // overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    float:left;
    position: absolute;
    z-index: 1;
    padding-top: 0;


}


 #Input:hover + .color {
        display: block;
        
      }
    




    