#color {
  width: 5.5cm;
  border: 15px;
  padding: 50px;
  margin: 12px;
  background-color: white;
  min-width: auto;
  // height: 9cm;
  min-height: auto;
  margin-left: 0cm;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 80%);
  // overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  float: left;
  position: absolute;
  z-index: 1;
  padding-top: 0;

  display: none;
}

#Input:hover+.color {
  display: block;
}


#img {
  // height: 2cm;
  // width: 1cm;
  border-radius: 10px;
  transition: transform .2s;
  /* Animation */
  margin-top: 18px;
  height: 35px;
  width: 35px;
  padding: -3cm;


  // -webkit-transition: width .35s ease-in-out;
  // transition: width .35s ease-in-out;
}

#img:focus {
  transform: scale(2.0);
  margin-bottom: 10px;

}

#images:hover{
  cursor: pointer;
}

#images{
  width: 1.3cm;
  height: 1.3cm;
  border-radius: 10px;
  margin-bottom: 20px;
}

.button_add{
width:0.8cm !important ;
height: 0.8cm !important;
//  background-color:#b3e7c0 !important; 
 border-radius: 10% !important;
 margin-top: 15px !important;
 padding-bottom: 3px !important;
 padding-top: 6px !important; 
 padding-left: 3px  !important;
 
}

.button_save{


  // margin-bottom: 0 !important;

  // margin-top: -2cm;
  // position: -webkit-sticky;
  
}

.c_card_body{
  // rgb(225 225 237)
  // background-color:rgb(237, 237, 242) !important ;
  background-color:whitesmoke !important;
  border-radius: 5px;
}

.c_card_header{
  background-color:rgb(221, 221, 221) !important;
  border-radius: 5px;
}


.c_card_filter{ 
  background-color:rgb(218, 218, 219) !important;
  border-radius: 5px;
}
 


   
   









