
.classmt{
    box-shadow:5px;
    padding: 2px;
    border-radius: 4px;
    padding: 1px;
    
    
    
}
.classmt:hover{
    
    // padding: -1px;

    // box-shadow: 0 0 5px #674db0;
    cursor:pointer;

    
}
::marker{
    color: white;
}

#span:hover{
    box-shadow: 0 0 5px #674db0;



}







    
    
    


    
    

    







