.btn-edit,
.btn-delete {
    display: inline-block;
    width: 48%;
    /* Adjust the width as needed */
    margin-right: 2%;
    /* Adjust the margin as needed for spacing */
    text-align: center;
    /* Align the text and icons in the center */
}