.sales-return-row {
    position: relative;
    table-layout: fixed;
    width: 200px;
    position: relative;
}

.sales-return-Image-row {
    position: relative;
    table-layout: fixed;
    width: 200px;
    position: relative;
}