.pricelistclass{
    padding-bottom: 0;
    padding-right: 0;
    margin-right: 8.2px;
    
}

.col-10{
   margin-right:-0.9cm;
   margin: -0.6cm;
   
}

.col-1{
    padding-bottom: 0;
    margin-left: 8px;
    align-items: flex-end;
}


#drop-downcss{
    margin-top:-37px;
}
// .d-inline-block{
    // margin-bottom: 0px;
// }

// } 
// .form-check-input {

// }


