 #c__pagination {
     list-style: none;
     display: flex;
     justify-content: end;

 }

 #c__pagination li {
     display: inline-block;
     padding: 5px 10px;
     margin: 0 2px;
     border-radius: 35%;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }

 #c__pagination li:hover {
     background-color: #ddd;
 }

 #c__pagination li.active {
     background-color: rgb(72, 90, 247);
     color: #fff;
 }





 ._row-blink {
     animation: blink-animation 2s 3;
     /* 2 seconds duration, 2 iterations */
 }

 @keyframes blink-animation {

     0%,
     100% {
         background-color: transparent;
     }

     50% {
         //   background-color: #511db329; /* Soft purple color */
         background-color: #9dadf09e;
         /* Pale yellow color */
     }
 }

 ._deleted-Row {
     text-decoration: line-through !important;
 }































 /* Common styles for both desktop and mobile */
 .custom-table {
     width: 100%;
     border-collapse: collapse !important;

     tr:nth-child(even) {
         background-color: #f2f2f2;
     }

     thead th {
         padding: 10px;
         border: 1px solid #ddd;
     }
     
     tbody td {
         padding: 10px;
         border: 1px solid #ddd;
     }
 }

 @media (max-width: 768px) {
     .custom-table {
         width: 100%;
         border-collapse: collapse;


         th td {
             display: block;
             text-align: left;
             border: 1px solid #ddd;
             padding: 8px;
             /* Adjust as needed */
         }

         thead {
             display: none;
         }

         tbody tr {
             display: flex;
             flex-direction: column;
             margin-bottom: 10px;
             border: 1px solid #ddd;
             border-radius: 5px;
             background-color: #f8f8f8;
         }

         tbody td {
             border: none;
             border-bottom: 1px solid #ddd;
             position: relative;
             padding-left: 50%;
             text-align: left;
             background-color: #f8f8f8;
         }

         tbody td:before {
             content: attr(data-label);
             font-weight: bold;
             position: absolute;
             left: 5px;
             top: 50%;
             transform: translateY(-50%);
             white-space: nowrap;
         }

         tbody td.selection-cell:before {
             content: "Select";
             font-weight: bold;
             position: absolute;
             left: 5px;
             top: 50%;
             transform: translateY(-50%);
             white-space: nowrap;
         }

         tbody td[sticky-col="true"] {
             position: sticky;
             left: 0;
             z-index: 2;
             top: 0;
             background-color: rgb(233, 233, 239);
         }
     }
 }
















 //  /* custom-table.css */

 //  /* Common styles for both desktop and mobile */
 //  .custom-table {
 //     width: 100%;
 //     border-collapse: collapse;
 // }

 // .custom-table th,
 // .custom-table td {
 //     padding: 10px;
 //     border: 1px solid #ddd;
 // }

 // @media (max-width: 768px) {
 //    .custom-table {
 //        width: 100%;
 //        border-collapse: collapse;
 //    }

 //    .custom-table th,
 //    .custom-table td {
 //        display: block;
 //        text-align: left;
 //        border: 1px solid #ddd;
 //        padding: 8px; /* Adjust as needed */
 //    }

 //    .custom-table tbody tr {
 //        display: block;
 //        margin-bottom: 10px;
 //        border: 1px solid #ddd;
 //        border-radius: 5px;
 //        background-color: #f8f8f8;
 //    }

 //    .custom-table tbody td:before {
 //        content: attr(data-label);
 //        font-weight: bold;
 //    }

 //    .custom-table thead {
 //        display: none;
 //    }

 //    .custom-table tbody tr td {
 //        text-align: left;
 //        border: none;
 //        border-bottom: 1px solid #ddd;
 //        position: relative;
 //        padding-left: 50%;
 //        background-color: #f8f8f8;
 //    }

 //    .custom-table tbody tr td:before {
 //        position: absolute;
 //        left: 5px;
 //        top: 50%;
 //        transform: translateY(-50%);
 //        white-space: nowrap; /* Add this line to prevent header text from wrapping */
 //    }
 // }