/* .table1{
    position: sticky;
    position: fixed;
    bottom: 0;
    background-color: rgb(1, 7, 5);
    padding: 5px;
    font-size: 20px;
   width: 81%;
  }  */

// .inp-serach {
//   position: fixed;
//   top: 50px;
//   text-align: center;
//   left: 6 px;
//   font-size: 10px;
//   border: none;
//   outline: none;
//   cursor: pointer;
//   padding: 10px;
//   background-color: #042638 !important;
// }

.save1 {
  position: fixed;
  bottom: 9vh;
  text-align: center;
  left: 25560;
  z-index: 99;
  font-size: 10px;
  border: none;
  outline: none;
  color: rgb(161, 160, 160);
  cursor: pointer;
  padding: 10px;
}

.HideButton {
  position: fixed;
  bottom: 9vh;
  text-align: center;
  right: 30px;
  z-index: 9;
  font-size: 10px;
  border: none;
  outline: none;
  color: rgb(161, 160, 160);
  cursor: pointer;
  padding: 10px;
}

// .update1{
//   display: none;
//   position: fixed;
//   bottom: 50px;
//   text-align: center;
//   right: 100px;
//   z-index: 99;
//   font-size: 10px;
//   border: none;
//   outline: none;
//   color: rgb(161, 160, 160);
//   cursor: pointer;
//   padding: 10px;
// }

// #myBtn-For-PageUp {
//   display: none;
//   position: fixed;
//   bottom: 60px;
//   right: 6px;
//   z-index: 99;
//   font-size: 10px;
//   border: none;
//   outline: none;
//   background-color: #0b679e !important;
//   color: white;
//   cursor: pointer;
//   padding: 11px;
//   border-radius: 50px;
// }

// #myBtn {
//   display: none;
//   position: fixed;
//   bottom: 90px;
//   right: 7px;
//   z-index: 99;
//   font-size: 13px;
//   border: none;
//   outline: none;
//   /* background-color: #121013 !important; */
//   color: white;
//   cursor: pointer;
//   padding: 11px;
//   border-radius: 50px;
// }

// #myBtn:hover {
//   background-color: #555;
// }

// thead tr {
//   position: sticky;
//   top: 0;
//   background-color: whitesmoke
// }

// .ctablehead {
//   position: sticky;
//   top: 0;
//   z-index: 10 ;
//   background-color: whitesmoke
// }